<!doctype html>
<html lang="en">
  <head>

    {{> header}}

  </head>
  <body>

<div class="container">
  
  {{> menu}}

  <img src="https://www.houghton.edu/wp-content/uploads/2019/02/vocal.jpg" class="img-fluid" alt="Responsive image">

<form>
    <div class="form-group mt-3">
        <label for="exampleInputEmail1">Search Teacher By Name</label>
        <div class="input-group">
            <input type="text" name="teacherName" class="mr-3 form-control" placeholder="Enter name">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Search Teacher By Genre</label>
        <div class="input-group">
            <input type="text" name="genre" class="mr-3 form-control" placeholder="Enter genre">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

<div class="card mx-auto mt-5 mb-3" style="max-width: 640px;">
  <div class="row no-gutters">
    <div class="col-md-5">
      <img src="https://images.squarespace-cdn.com/content/v1/50f79c6fe4b00d3480c9bbf0/1535041847384-LMQ89M7HI3FVAGRYELH0/ke17ZwdGBToddI8pDm48kAf-OpKpNsh_OjjU8JOdDKBZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpzAFzFJoCInLPKyj9AG8yKe7-Q2aFvP177fkO9TY_-rz5WoqqTEZpmj4yDEOdwKV68/Headshot_20170311_Jay-Poff_Richard_Waine_Lancaster_PA_0100-%28square+-+500+px+-+72+ppi+-+low+res%29.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">Richard Waine</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div>
            <span>Experience:</span>
            <span class="card-text"><small class="text-muted">12 Years</small></span>
        </div>
        <div>
            <span>Location:</span>
            <span class="card-text"><small class="text-muted">Houston, TX</small></span>
        </div>
         <div>
          <button type="submit" class="mt-3 btn btn-primary">View Profile</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mx-auto mb-3" style="max-width: 640px;">
  <div class="row no-gutters">
    <div class="col-md-5">
      <img src="https://media.kairos.com/team/Cole_Calistra.jpeg" class="card-img" alt="...">
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">Cole Calistra</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div>
            <span>Experience:</span>
            <span class="card-text"><small class="text-muted">8 Years</small></span>
        </div>
        <div>
            <span>Location:</span>
            <span class="card-text"><small class="text-muted">Miami, FL</small></span>
        </div>
         <div>
          <button type="submit" class="mt-3 btn btn-primary">View Profile</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mx-auto mb-3" style="max-width: 640px;">
  <div class="row no-gutters">
    <div class="col-md-5">
      <img src="https://images.pexels.com/photos/1520760/pexels-photo-1520760.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img" alt="...">
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">Stacy Willard</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div>
            <span>Experience:</span>
            <span class="card-text"><small class="text-muted">10 Years</small></span>
        </div>
        <div>
            <span>Location:</span>
            <span class="card-text"><small class="text-muted">Lake Charles, LA</small></span>
        </div>
         <div>
          <button type="submit" class="mt-3 btn btn-primary">View Profile</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mx-auto mb-3" style="max-width: 640px;">
  <div class="row no-gutters">
    <div class="col-md-5">
      <img src="http://embracephotography.ca/wp-content/uploads/pp/images/1467412533-Ida.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">Jennifer Adams</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
       <div>
            <span>Experience:</span>
            <span class="card-text"><small class="text-muted">5 Years</small></span>
        </div>
        <div>
            <span>Location:</span>
            <span class="card-text"><small class="text-muted">Las Vegas, NV</small></span>
        </div>
         <div>
          <button type="submit" class="mt-3 btn btn-primary">View Profile</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mx-auto mb-3" style="max-width: 640px;">
  <div class="row no-gutters">
    <div class="col-md-5">
      <img src="https://hcphotos.com/wp-content/uploads/2019/06/top3a-500x500.png" class="card-img" alt="...">
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">Mike Mo</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div>
            <span>Experience:</span>
            <span class="card-text"><small class="text-muted">3 Years</small></span>
        </div>
        <div>
            <span>Location:</span>
            <span class="card-text"><small class="text-muted">New York, NY</small></span>
        </div>
         <div>
          <button type="submit" class="mt-3 btn btn-primary">View Profile</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mx-auto mb-3" style="max-width: 640px;">
  <div class="row no-gutters">
    <div class="col-md-5">
      <img src="https://r7i9i3r5.stackpathcdn.com/wp-content/uploads/2015/02/pinellas-park-headshot-photographer--500x500.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">Ashely Collins</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div>
            <span>Experience:</span>
            <span class="card-text"><small class="text-muted">5 Years</small></span>
        </div>
        <div>
            <span>Location:</span>
            <span class="card-text"><small class="text-muted">Cleveland, OH</small></span>
        </div>
         <div>
          <button type="submit" class="mt-3 btn btn-primary">View Profile</button>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

    {{> footer}}

  </body>
</html>
