<!doctype html>
<html lang="en">
  <head>

    {{> header}}

  </head>
  <body>

<div class="container">
 
    {{> menu}}

    <img src="https://mystudioparty.ca/wp-content/uploads//2017/02/singer.jpg" class="img-fluid" alt="Responsive image">

    <h1 class="mt-3">Teacher Login Page</h1>

    {{#message}}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
    {{/message}}

    <form action="/login-teacher" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">User Name</label>
            <input type="text" name="username" class="form-control" placeholder="Enter User Name">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Enter Password">
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
        
    </form>
</div>

   {{> footer}}
   
  </body>
</html>
