<!doctype html>
<html lang="en">
  <head>

    {{> header}}

    <title>Singly | Register</title>

  </head>
  <body>

<div class="container">
  
  {{> menu}}

  <img src="http://www.patsav.com/wp-content/uploads/2017/09/NewBlogFeature2.jpg" class="img-fluid" alt="Responsive image">

     <h1 class="mt-3">Student Register Page</h1>

        
    {{#message}}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
    {{/message}}

    <form action="/register" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">User Name</label>
            <input type="text" name="username" class="form-control" placeholder="Enter User Name">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Enter Password">
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
        
    </form>

<div class="text-center mt-3">
    <h2>Applying Teachers</h2>
    <p class="mt-3">Creating your teacher account.</p>
    <p>If you want to join our teachers team and offer your services, please apply by clicking <a href="/register/teacher-register">Register as a teacher.</a></p>
    <p>Please note that we hire only the best teachers according to the site's demand.</p>
</div>

</div>

    {{> footer}}

  </body>
</html>
