<!doctype html>
<html lang="en">
  <head>

    {{> header}}

  </head>
  <body>

<div class="container">
  
  {{> menu}}

  <img src="http://www.eddidbullion.com/en/Picture/trade-banner2.jpg" class="img-fluid" alt="Responsive image">

<h1 class="text-align">Success Your Payment Went Through!</h1>

</div>

    {{> footer}}

  </body>
</html>
