<!doctype html>
<html lang="en">
  <head>

    {{> header}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>

<div class="container mb-3">
  
  {{> menu}}

  <img src="https://blog.musixpand.org/wp-content/uploads/2018/09/Blog-MusiXpand_Septera_Anuncio-taller_Imagen-destacada.png" class="img-fluid" alt="Responsive image">

     <h1 class="mt-3">Teacher Registration</h1>

    {{#message}}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
    {{/message}}
    

    <form action="/register/teacher-register" method="POST" enctype = "multipart/form-data">
        <div class="form-group">
            <label for="exampleInputEmail1">User Name</label>
            <input type="text" name="username" class="form-control" placeholder="Enter User Name">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Enter Password">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Location</label>
            <input type="text" name="location" class="form-control" placeholder="City, State">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Experience</label>
            <input type="text" name="experience" class="form-control" placeholder="# Years' Experience">
        </div>

         <div class="form-group">
            <label for="exampleInputPassword1">Calendly URL</label>
            <input type="text" name="calendlyUrl" class="form-control" placeholder="Calendly URL">
        </div>

         <div class="form-group">
            <label for="exampleInputPassword1">Rate</label>
            <input type="text" name="rate" class="form-control" placeholder="$55 / 45 Minutes">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Summary</label>
            <input type="text" name="bio" class="form-control" placeholder="Summary">
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Full Bio</label>
            <textarea class="form-control" name="fullBio"id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <div id=genreMenu>
        <p>Select up to 3 vocal genres you specialize in</p>
        <select class="custom-select custom-select-lg mb-3" name="genre1">
            <option value="" selected>Select Genre</option>
            <option value="Beatbox">Beatbox</option>
            <option value="Choral">Choral</option>
            <option value="Country">Country</option>
            <option value="Folk">Folk</option>
            <option value="Musical Theater">Musical Theater</option>
            <option value="Opera">Opera</option>
            <option value="Pop">Pop</option>
            <option value="Rap">Rap</option>
            <option value="Rhythm and Blues(R&B)">Rhythm and Blues(R&B)</option>
            <option value="Rock">Rock</option>
        </select>

        <select class="custom-select custom-select-lg mb-3" name="genre2">
            <option value="" selected>Select Genre</option>
            <option value="Beatbox">Beatbox</option>
            <option value="Choral">Choral</option>
            <option value="Country">Country</option>
            <option value="Folk">Folk</option>
            <option value="Musical Theater">Musical Theater</option>
            <option value="Opera">Opera</option>
            <option value="Pop">Pop</option>
            <option value="Rap">Rap</option>
            <option value="Rhythm and Blues(R&B)">Rhythm and Blues(R&B)</option>
            <option value="Rock">Rock</option>
        </select>

        <select class="custom-select custom-select-lg mb-3" name="genre3">
            <option value="" selected>Select Genre</option>
            <option value="Beatbox">Beatbox</option>
            <option value="Choral">Choral</option>
            <option value="Country">Country</option>
            <option value="Folk">Folk</option>
            <option value="Musical Theater">Musical Theater</option>
            <option value="Opera">Opera</option>
            <option value="Pop">Pop</option>
            <option value="Rap">Rap</option>
            <option value="Rhythm and Blues(R&B)">Rhythm and Blues(R&B)</option>
            <option value="Rock">Rock</option>
        </select>

        </div>


        <div class="form-group">
            <label>Upload an image of yourself</label>
             <input type="file" name="photo" class="form-control" placeholder="Upload a photo">
        </div> 
        <button type="submit" class="btn btn-primary">Register</button>

    </form>
</div>

    {{> footer}}

  </body>
</html>
