<!doctype html>
<html lang="en">
  <head>

    {{> header}}

  </head>
  <body>

<div class="container">
  
  {{> menu}}

     <h1>Teacher Registration</h1>

    <form action="/register/teacher-register" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">User Name</label>
            <input type="text" name="username" class="form-control" placeholder="Enter User Name">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Enter Password">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Location</label>
            <input type="text" name="location" class="form-control" placeholder="City, State">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Experience</label>
            <input type="text" name="experience" class="form-control" placeholder="# Years' Experience">
        </div>

         <div class="form-group">
            <label for="exampleInputPassword1">Calendly URL</label>
            <input type="text" name="calendlyUrl" class="form-control" placeholder="Calendly URL">
        </div>

         <div class="form-group">
            <label for="exampleInputPassword1">Rate</label>
            <input type="text" name="rate" class="form-control" placeholder="$55 / 45 Minutes">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Summary</label>
            <input type="text" name="bio" class="form-control" placeholder="Summary">
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Full Bio</label>
            <textarea class="form-control" name="fullBio"id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <div id=genreMenu>
        <p>Select up to 3 vocal genres you specialize in</p>
        <select class="custom-select custom-select-lg mb-3" name="genre1">
            <option selected>Select Genre</option>
            <option value="Beatbox">Beatbox</option>
            <option value="Choral">Choral</option>
            <option value="Country">Country</option>
            <option value="Folk">Folk</option>
            <option value="Musical Theater">Musical Theater</option>
            <option value="Opera">Opera</option>
            <option value="Pop">Pop</option>
            <option value="Rap">Rap</option>
            <option value="Rhythm and Blues(R&B)">Rhythm and Blues(R&B)</option>
            <option value="Rock">Rock</option>
        </select>

        <select class="custom-select custom-select-lg mb-3" name="genre2">
            <option selected>Select Genre</option>
            <option value="Beatbox">Beatbox</option>
            <option value="Choral">Choral</option>
            <option value="Country">Country</option>
            <option value="Folk">Folk</option>
            <option value="Musical Theater">Musical Theater</option>
            <option value="Opera">Opera</option>
            <option value="Pop">Pop</option>
            <option value="Rap">Rap</option>
            <option value="Rhythm and Blues(R&B)">Rhythm and Blues(R&B)</option>
            <option value="Rock">Rock</option>
        </select>

        <select class="custom-select custom-select-lg mb-3" name="genre3">
            <option selected>Select Genre</option>
            <option value="Beatbox">Beatbox</option>
            <option value="Choral">Choral</option>
            <option value="Country">Country</option>
            <option value="Folk">Folk</option>
            <option value="Musical Theater">Musical Theater</option>
            <option value="Opera">Opera</option>
            <option value="Pop">Pop</option>
            <option value="Rap">Rap</option>
            <option value="Rhythm and Blues(R&B)">Rhythm and Blues(R&B)</option>
            <option value="Rock">Rock</option>
        </select>

        </div>


        <button type="submit" class="btn btn-primary">Register</button>

        
        {{#message}}
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        {{/message}}
        
    </form>
</div>

    {{> footer}}

  </body>
</html>
