<!doctype html>
<html lang="en">
  <head>

    {{> header}}

  </head>
  <body>

<div class="container">
  
  {{> menu}}

{{#teacher}}
  <div class="card mx-auto mt-5 mb-3" style="max-width: 940px;">
    <div class="row no-gutters">
      <div class="col-md-5">
        <img src="{{imageurl}}" class="card-img" alt="Picture Of Teacher">
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title">{{username}}</h5>
          <p class="card-text">{{fullBio}}</p>
          <div>
              <span>Years of Experience:</span>
              <span class="card-text"><small class="text-muted">{{yearsExperience}}</small></span>
          </div>
          <div>
              <span>Location:</span>
              <span class="card-text"><small class="text-muted">{{location}}</small></span>
          </div>
          {{#genres}}
          <div>
              <span>Genres:</span>
              <span class="card-text"><small class="text-muted">{{name}}</small></span>
              <span class="card-text"><small class="text-muted">{{name2}}</small></span>
              <span class="card-text"><small class="text-muted">{{name3}}</small></span>
          </div>
           {{/genres}}
           <div>
              <span>Rate:</span>
              <span class="card-text"><small class="text-muted">{{rate}}</small></span>
          </div>
          <div>
             <a href="/payment"><button type="submit" class="mt-3 btn btn-primary">Purchase Lessons</button></a>
             <a href='/video-conference/?roomId={{id}}&peerName={{usernamesess}}'><button type="submit" class="mt-3 ml-3 btn btn-primary">Train With Teacher</button></a>
          </div>
        </div>

      <div id="calendly">
         <!-- Calendly badge widget begin -->
          <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
          <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
          <script type="text/javascript">Calendly.initBadgeWidget({ url: '{{{calendlyUrl}}}?hide_event_type_details=1', text: 'Schedule time with me', color: '#00a2ff', textColor: '#ffffff', branding: true });</script>
          <!-- Calendly badge widget end -->
      </div>


      </div>
    </div>
  </div>
{{/teacher}}

</div>

    {{> footer}}

  </body>
</html>
